mat-form-field {
    width: 100% !important;
}

td {
    padding-right: 10px !important;
}

.td-width {
    width: 33.33% !important;
    vertical-align: top !important;
}

// ::ng-deep .mat-form-field .mat-form-field-flex {
//     height: 40px !important;
// }
