

<div class="flex items-center" mat-dialog-title>
    <h2 class="flex-auto text-lg font-medium font-12">
        Cancel Order
    </h2>


<button class="small-icon-button mt-3" color="primary" mat-raised-button type="button">
    Cancel Selected Orders
</button>&nbsp;&nbsp;
    <button mat-dialog-close mat-icon-button type="button">
        <mat-icon [icIcon]="icClose" size="24px"></mat-icon>
    </button>
</div>
<mat-divider></mat-divider>
  <mat-dialog-content>
    <div class="table-responsive">
        <table [dataSource]="dataSource" class="w-full top-30 left-13" mat-table matSort>
            
            Checkbox Column 
            <ng-container matColumnDef="checkbox">
                <th *matHeaderCellDef mat-header-cell>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                color="primary">
                </mat-checkbox>
                </th>
                <td *matCellDef="let row" class="w-4" mat-cell>
                <mat-checkbox (change)="$event ? selection.toggle(row) : null"
                                (click)="$event.stopPropagation()"
                                [checked]="selection.isSelected(row)"
                                color="primary">
                </mat-checkbox>
                </td>
            </ng-container>

            <ng-container *ngFor="let column of columns">
                <ng-container *ngIf="column.type === 'text'" [matColumnDef]="column.property">
                    <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> {{ column.label }}</th>
                    <td *matCellDef="let row" mat-cell style="width: 20px !important;">{{ row[column.property] }}</td>
                </ng-container>
            </ng-container>

            <ng-container matColumnDef="carrier">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>CARRIER</th>
                <td *matCellDef="let row" mat-cell>
                  <div class="flex">
                    <mat-form-field style="width: 140px !important; margin-right: 6px !important;" appearance="outline" color="primary">
                        <!-- <mat-label>Package Weight</mat-label> -->
                        <input matInput #input value="royalmail" >
                    </mat-form-field>
                  </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="cancel_reason">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>CANCEL REASON</th>
                <td *matCellDef="let row" mat-cell>
                  <div class="flex">
                    <mat-form-field style="width: 140px !important; margin-right: 6px !important;" appearance="outline" color="primary">
                        <!-- <mat-label>Package Weight</mat-label> -->
                        <input matInput #input value="" >
                    </mat-form-field>
                  </div>
                </td>
            </ng-container>

            <tr *matHeaderRowDef="visibleColumns sticky: true" mat-header-row></tr>
            <tr *matRowDef="let row; columns: visibleColumns;"
                @fadeInUp stagger60ms
                class="hover:bg-hover trans-ease-out cursor-pointer"
                mat-row></tr>

        </table>
    </div><br>
  
    <mat-form-field appearance="standard" style="width: 200px !important; margin-right: 6px !important;" fxFlex="none">
        <mat-label>Cancel Reason</mat-label>
        <mat-select>
            <mat-option value="-1">Please select</mat-option>
            <mat-option value="BuyerHasNotPaid">Buyer has Not Paid</mat-option>
            <mat-option value="ItemNotReceived">Item not Received</mat-option>
            <mat-option value="TransactionMutuallyCanceled">Transaction Mutually Cancelled</mat-option>
            
        </mat-select>
        
    </mat-form-field>&nbsp;&nbsp;&nbsp;
    <button class="small-icon-button mt-3" color="primary" mat-raised-button type="button" >
        Apply Cancel Reason  
      </button> 
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <mat-checkbox>Add Stock Back</mat-checkbox>
    
                <!-- <mat-form-field appearance="fill">
                    <mat-label>Search by Order ID</mat-label>
                    <input matInput #input maxlength="10" placeholder="Search By Order ID">
                     <button class="small-icon-button mt-3" color="primary" mat-raised-button type="button" style="margin-right: 6px !important;">
                        <mat-icon color="text-secondary" [icIcon]="icSearch"></mat-icon>
                    </button> 
                </mat-form-field> -->
  </mat-dialog-content>
  

  