.info {
    padding: 10px;
    border: 1px solid #0c1c44;
    background-color: #1a1f2f!important;
    color: #fff !important;
    margin-top: -10px;
  }
  .box_info {
    margin-top: 7px !important;
    border-left: 3px solid #0c1c44;
    background-color: #ececec;
    padding: 10px;
    color: #000 !important;
  }