.bg-business {
    background-color: #f0702c !important;
    border-radius: 5px;
}

.bg-us {
    background-color: #f15834 !important;
    border-radius: 5px
}

.bg-professional {
    background-color: #0c1c44 !important;
    border-radius: 5px
}

td{
    vertical-align: top !important;
}

.font-15 {
    font-size: 15pt !important;
}

.float-right{
    right: 0px !important;
    top: -31px !important;
}

::ng-deep .small-icon-button {
    width: auto !important;
    height: 32px !important;
    line-height: 32px !important;
  
    .mat-icon {
       width: 16px !important;
       height: 16px !important;
       line-height: 16px !important;
    }
    .material-icons {
       font-size: 16px !important;
    }
  }