
<div class="p-gutter" vexContainer>
    <div class="card">
        <div style="display: flex;" class="border-b py-4 px-6" fxLayout="row" fxLayoutAlign="start center">
          <h2 class="m-0 title" fxFlex="auto">Manage Orders</h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <h2 class="m-0 title" fxFlex="auto">New Order Details: <b>1631620240946</b></h2>
          
        </div>
      
        <!-- <div class="content py-0 px-0" fxLayout="row" fxLayout.lt-md="column" style="display: flex; margin-top: 5px !important; padding: 10px;"> -->
          <div>
            <mat-grid-list cols="2" rowHeight="16:9" gutterSize="0" class="p-0 top-30">
              <mat-grid-tile><br>
                <mat-card class="">
                    <mat-card-header>
                      <!-- <img mat-card-avatar src="assets/img/avatars/3.jpg"> -->
                      <!-- <mat-card-subtitle>
                        Yesterday
                      </mat-card-subtitle> -->
                      <mat-card-title><ic-icon [icIcon]="fatruck" [inline]="true" size="16px"></ic-icon> Order Details</mat-card-title>
                    </mat-card-header>
                    <!-- <img mat-card-image src="assets/img/demo/mountain-cinematic.jpg"> -->
                    <mat-card-content>
                      <div>
                      <mat-label style="padding-right: 15px;;">Order</mat-label>
                      <b>1631620240946</b>
                      <!-- <mat-form-field class="example-full-width" appearance="fill">
                        <input matInput placeholder="Ex. Pizza" value="Sushi">
                      </mat-form-field> -->
                      <br><br>
                      <mat-label style="padding-right: 15px;;">Channel</mat-label>
                      <b>telesale</b>
                      <!-- <mat-form-field class="example-full-width" appearance="fill">
                        <input matInput placeholder="Ex. Pizza" value="Sushi">
                      </mat-form-field> -->
                      <br><br>
                      <mat-label style="padding-right: 15px;;">Order Date</mat-label>
                      <b>Tue Sep 14 11:50:40 UTC 2021</b>
                      <!-- <mat-form-field class="example-full-width" appearance="fill">
                        <input matInput placeholder="Ex. Pizza" value="Sushi">
                      </mat-form-field> -->
                      <br><br>
                      <mat-label style="padding-right: 15px;;">Order Status</mat-label>
                      <mat-form-field appearance="outline" disabled>
                        
                        <mat-select disabled>
                          <mat-option value="Draft">Draft</mat-option>
                          
                          <mat-option value="Unshipped">Unshipped</mat-option>
                        
                          <mat-option value="Shipped">Shipped</mat-option>
                        
                          <mat-option value="Pending">Pending</mat-option>
                        
                          <mat-option value="Canceled">Canceled</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <br>
                      <mat-label style="padding-right: 15px;;">Order Currency</mat-label>
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Choose an option</mat-label>
                        <mat-select >
                          <mat-option value="USD">USD</mat-option>
                                                
                          <mat-option value="CAD">CAD</mat-option>
                      
                          <mat-option value="GBP">GBP</mat-option>
                      
                          <mat-option value="EURO">EURO</mat-option>
                      
                          <mat-option value="INR">INR</mat-option>
                      
                          <mat-option value="AUD">AUD</mat-option>
                      
                          <mat-option value="NZD">NZD</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    </mat-card-content>
                    <!-- <mat-divider></mat-divider> -->
                    <mat-card-actions>
                      <!-- <div fxLayout="row">
                        <button color="primary" mat-icon-button>
                          <mat-icon [icIcon]="icShare"></mat-icon>
                        </button>
                        <button color="accent" mat-icon-button>
                          <mat-icon [icIcon]="icFavorite"></mat-icon>
                        </button>
                        <span fxFlex></span>
                        <button fxHide.xs mat-button>MORE INFO</button>
                        <button color="primary" mat-button>SAVE AS</button>
                      </div> -->
                    </mat-card-actions>
                  </mat-card>
              </mat-grid-tile>
              <mat-grid-tile>
                  Content 2
              </mat-grid-tile>
              <!-- <mat-grid-tile>
                  Content 3
              </mat-grid-tile>
              <mat-grid-tile>
                  Content 4
              </mat-grid-tile> -->
          </mat-grid-list>
          </div><br>
          <!-- <div>
            <mat-grid-list cols="4" rowHeight="16:9" gutterSize="0" class="p-0 top-30">
              <mat-grid-tile>
                  Content 1
              </mat-grid-tile>
              <mat-grid-tile>
                  Content 2
              </mat-grid-tile>
              <mat-grid-tile>
                  Content 3
              </mat-grid-tile>
              <mat-grid-tile>
                  Content 4
              </mat-grid-tile>
          </mat-grid-list>
          </div> -->
        <!-- </div> -->
    </div>
</div>