<div class="flex items-center" mat-dialog-title >
    <h2 class="flex-auto text-lg font-medium font-12" >
        Manage Products for the bundle product below
    </h2>
    <button mat-dialog-close mat-icon-button type="button">
        <mat-icon [icIcon]="icClose" size="24px"></mat-icon>
    </button>
</div>
<!-- <table class="w-full">
    <tr><td class="left">US +1 (925) 217-1261 (8AM EST - 5PM EST)</td><td class="right">UK +44 203 371 7255 (10AM GMT - 5PM GMT)</td></tr>
</table> -->
  <mat-dialog-content>
    <mat-divider></mat-divider><br>

    <div class="table-responsive">
        <table [dataSource]="dataSource" class="w-full top-30 left-13" mat-table matSort>
            
            <ng-container matColumnDef="assign_qty">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>ASSIGN QUANTITY </th>
                <td *matCellDef="let row" mat-cell>
                  <div class="flex">
                    <mat-form-field style="width: 140px !important; margin-right: 6px !important;" appearance="outline" color="primary">
                        <!-- <mat-label>Package Weight</mat-label> -->
                        <input matInput #input placeholder="0"  >
                    </mat-form-field>
                  </div>
                </td>
            </ng-container>

            <ng-container *ngFor="let column of columns">
                <ng-container *ngIf="column.type === 'text'" [matColumnDef]="column.property">
                    <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> {{ column.label }}</th>
                    <td *matCellDef="let row" mat-cell style="width: 20px !important;">{{ row[column.property] }}</td>
                </ng-container>
            </ng-container>

            <ng-container matColumnDef="action">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>ACTION</th>
                <td *matCellDef="let row" mat-cell>
                  <div class="flex">
                    <button class="mr-4 font-10" 
                        color="primary"
                        mat-raised-button
                        type="button">Save
                    </button>
                    <button class="mr-4 font-10"
                        mat-raised-button 
                        color="secondary"
                        type="button">Remove
                    </button>
                  </div>
                </td>
            </ng-container>

            <tr *matHeaderRowDef="visibleColumns sticky: true" mat-header-row></tr>
            <tr *matRowDef="let row; columns: visibleColumns;"
                @fadeInUp stagger60ms
                class="hover:bg-hover trans-ease-out cursor-pointer"
                mat-row></tr>

        </table>
    <!-- <mat-paginator appearance="standard" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" class="sticky left-0"></mat-paginator><br> -->
    
    </div><br>
    <!-- <div class="info flex">
        <img src="https://login.sellershub.io/web/kartzhubtelesale.png">&nbsp;&nbsp;&nbsp; <b>Create a new order in KartzHub. Sale channel will be set to Telesales</b>
    </div> -->
    
                <!-- <mat-form-field appearance="fill">
                    <mat-label>Search by Order ID</mat-label>
                    <input matInput #input maxlength="10" placeholder="Search By Order ID">
                     <button class="small-icon-button mt-3" color="primary" mat-raised-button type="button" style="margin-right: 6px !important;">
                        <mat-icon color="text-secondary" [icIcon]="icSearch"></mat-icon>
                    </button> 
                </mat-form-field> -->
  </mat-dialog-content>
  
  <mat-dialog-actions>
  
    <span class="flex-1"></span>
    
    
    <!-- <button mat-dialog-close mat-raised-button type="button" color="secondary">
      <mat-icon [icIcon]="icCancel" [inline]="true" size="16px"></mat-icon> Close
    </button>-->
<!-- 
    <button color="primary" mat-flat-button type="button">
        <ic-icon [icIcon]="icSend" [inline]="true" size="16px"></ic-icon>  Create New Order
    </button> -->

    <button mat-dialog-close mat-raised-button type="button" color="secondary">
        <mat-icon [icIcon]="icCancel" [inline]="true" size="16px"></mat-icon> Close
    </button>
  
    
  </mat-dialog-actions>
  