.td-width-right {
    text-align: left !important;
    vertical-align: top !important;
    width: 120px !important;
    border: 1px solid #ccc !important;
    padding: 5px !important;
}

th, td {
    border: 1px solid #ccc !important;
    padding: 5px !important;
}