.info {
    padding: 10px;
    border: 1px solid #0c1c44;
    background-color: #58a4fc !important;
    color: rgb(0, 0, 0) !important;
    margin-top: -10px;
  }

.box_info {
  margin-top: 7px !important;
  border-left: 3px solid #0c1c44;
  background-color: #ececec;
  padding: 10px;
  color: #000 !important;
}