<div class="flex items-center" mat-dialog-title>
    <p class="flex-auto text-lg font-medium">Change Admin User Email</p>
    <button mat-dialog-close mat-icon-button type="button">
        <mat-icon [icIcon]="icClose" size="24px"></mat-icon>
    </button>
</div>
  
  <mat-dialog-content>

    <h4>Current admin Email Address</h4>
    
    <mat-form-field appearance="outline" class="block w-full">
      <mat-label>Please enter new email address</mat-label>
      <input matInput type="text" value="{{ uemail }}" />
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="block w-full">
        <mat-label>Please enter admin password</mat-label>
        <input matInput type="password" [(ngModel)]="newpass" />
    </mat-form-field>

  </mat-dialog-content>
  
  <mat-dialog-actions>
  
    <span class="flex-1"></span>
  
    <button mat-dialog-close mat-raised-button type="button" color="secondary">
      <mat-icon [icIcon]="icCancel" [inline]="true" size="16px"></mat-icon> Cancel
    </button>
  
    <button (click)="saveEmail()" color="primary" mat-flat-button type="button">
        <ic-icon [icIcon]="icCheck" [inline]="true" size="16px"></ic-icon>  Save
    </button>
  </mat-dialog-actions>
  