<link rel="stylesheet"
    href="https://s3-us-west-1.amazonaws.com/khubweb/assets/global/plugins/bootstrap/css/bootstrap.min.css">

<link rel="stylesheet" href="https://login.sellershub.io/css/new-admin.css">
<link rel="stylesheet" href="https://login.sellershub.io/css/components.css">
<div class="p-gutter" vexContainer>
    <div class="card">
        <div style="display: flex;justify-content: space-between;" class="border-b py-4 px-6" fxLayout="row"
            fxLayoutAlign="start center">
            <div>
                <h2 class="m-0 title" fxFlex="auto">  Please enter values for the attribute</h2>
                
                <div class="float-right">
                    <a href="javascript:void(0)" class="btn btn-primary">Save</a>
                    <a href="javascript:void(0)" class="btn btn-danger">Close</a>
                </div>
                

                <form action="#" class="horizontal-form">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Attribute Channel Display Name</label>
                                    <input type="text" class="form-control" id="attributename" name="name" value=""
                                        placeholder="Enter Attribute Name">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Attribute Sellershub Name</label>
                                    <input type="text" class="form-control" id="attributevalue1" name="name" value=""
                                        placeholder="Name to remember within Sellershub">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Default Value</label>
                                    <input type="text" class="form-control" id="attributevalue2" name="name" value=""
                                        placeholder="Default Value">
                                </div>
                            </div>
                        </div>
                        <!--/row-->
                        <div class="portlet-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-4">
            
                                        </div>
                                    </div>
                                    <table
                                        class="table table-responsive table-striped table-bordered table-hover order-column dataTable no-footer">
                                        <thead>
                                            <tr>
                                                <th colspan="2">
                                                    Value
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
            
            
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-8">
            
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="editattributevalue" value=""
                                                placeholder="Enter value">
                                        </div>
                                    </div>
            
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="editattributevalue" value=""
                                                placeholder="Enter value">
                                        </div>
                                    </div>
            
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="editattributevalue" value=""
                                                placeholder="Enter value">
                                        </div>
                                    </div>
            
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="editattributevalue" value=""
                                                placeholder="Enter value">
                                        </div>
                                    </div>
            
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="editattributevalue" value=""
                                                placeholder="Enter value">
                                        </div>
                                    </div>
            
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="editattributevalue" value=""
                                                placeholder="Enter value">
                                        </div>
                                    </div>
            
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="editattributevalue" value=""
                                                placeholder="Enter value">
                                        </div>
                                    </div>
            
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="editattributevalue" value=""
                                                placeholder="Enter value">
                                        </div>
                                    </div>
            
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="editattributevalue" value=""
                                                placeholder="Enter value">
                                        </div>
                                    </div>
            
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="editattributevalue" value=""
                                                placeholder="Enter value">
                                        </div>
                                    </div>
            
                                </div>
                            </div>
                        </div>
            
                    </div>
                </form>
           
            </div>

           
        </div>
    </div>
</div>


