:host {
  align-content: center;
  align-items: center;
  background: #fff url('/assets/img/demo/login-bg3.jpeg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  justify-items: center;
  width: 100%;
}
.float-center {
left: 50% !important;
}  
