.table-responsive {
    display: block;
    width: 100%;
    overflow-x: hidden;
    white-space: normal;
    margin-right: 10px;
    margin-top: 0px !important;
    .mat-table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
        display: table;
        border-collapse: collapse;
        margin: 0px;
    }
    .mat-row,
    .mat-header-row {
        display: table-row;
    }
    .mat-cell,
    .mat-header-cell {
        word-wrap: initial;
        display: table-cell;
        padding: 5px 5px;
        line-break: unset;
        width: auto;
        white-space: normal;
        overflow: hidden;
        vertical-align: middle;
    }
  }
  
  .table-responsive:hover{
    overflow-x: auto !important;
  }