mat-form-field {
    width: 100% !important;
}

td {
    padding-right: 10px !important;
}

.td-width-left {
    width: 50% !important;
    vertical-align: top !important;
}

.td-width-right {
    width: 50% !important;
    vertical-align: top !important;
}

.mr-5 {
    margin-right: 5px !important;
}
.mb-5 {
    margin-bottom: 10px !important;
}