
<div class="p-gutter" vexContainer>
    <div class="card">
        <div class="border-b py-4 px-6" fxLayout="row" fxLayoutAlign="start center">
          <h2 class="m-0 title" fxFlex="auto">Manage Upcoming Features</h2>
        </div>
      
        <div class="py-0 px-0" fxLayout="row" fxLayout.lt-md="column" style="margin-top: 5px !important; padding: 10px;">
            <h2>Amazon Shipping</h2>
            <p>The Amazon Shipping integration gives user access to ship using Amazon Shipping Services within Sellershub directly. Amazon Services can be assigned to orders, and Amazon shipping labels can be printed directly from the Orders screen.</p>
            <img src="https://i.postimg.cc/6pBFjhzm/amazon-shipping-21-j2-medium.png" alt="Amazon Shipping" width="500" height="200"/><br>							  
            <h2>Split Orders</h2>
            <p>The Split Order action allows you to split one big order into multiple orders. The order with only one item cannot be split into multiple orders.</p>
            <img src="https://i.postimg.cc/QCvP2pHr/split-order.png" alt="Split orders" width="300" height="300"/>	<br>					  
            <h2>Merge orders</h2>
            <p>When orders are download into Sellershub, it may be useful to merge multiple orders based on address into a single order to ship items to the buyer more efficiently. </p>
            <img src="https://i.postimg.cc/BnTJRT1H/merge.png" alt="Merge orders"width="300" height="300"/><br>
            <h2>Shipping Services</h2>
            <p>Royal Mail Click and Drop is now updated with all the new services. </p>
            <img src="https://i.postimg.cc/6573b40f/royal-mail-click-and-drop.png" alt="Click and drop" width="800" height="400"/><br>
            <h2>Onbuy.com</h2>
            <p>Start counting days as we at Sellershub are excited to announce new partnership with<a href="http://onbuy.com">onbuy.com</a>,where our customers will be able to create the listing, download orders, process orders, and much more directly from<a href="http://sellershub.io">sellershub.io</a></p>
            <img src="https://i.postimg.cc/yY9JYSZY/new-update.png" alt="Onbuy update" width="280" height="380"/><br>
            <h2>Shipping Rules</h2>
            <p>We are introducing shipping rules this week that will allow you to automatically assign the correct label to each SKU.</p>
            <img src="https://i.postimg.cc/MTFw1th2/shipping-rules.png" alt="Shipping rules" width="800" height="400"/>
        </div>
    </div>
</div>