<div class="flex items-center" mat-dialog-title>
    <h2 class="flex-auto text-lg font-medium font-12">
        Edit Ship to Country List for Shipping Rules
    </h2>
    <button mat-dialog-close mat-icon-button type="button">
        <mat-icon [icIcon]="icClose" size="24px"></mat-icon>
    </button>
</div>
<!-- <table class="w-full">
    <tr><td class="left">US +1 (925) 217-1261 (8AM EST - 5PM EST)</td><td class="right">UK +44 203 371 7255 (10AM GMT - 5PM GMT)</td></tr>
</table> -->
<mat-divider></mat-divider>
  <mat-dialog-content>
  

  </mat-dialog-content>

  <div class="modal fade bs-modal-lg in" id="countriesmodal" tabindex="-1" role="basic" aria-hidden="true" style="display: block;">

    <div class="modal-dialog modal-lg">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
<h4 class="modal-title">Edit Ship to Country List for Shipping Rules</h4>
</div>
<div class="modal-body">


<div class="table-scrollable">
<h3>Europe  </h3>

<table class="table table-bordered table-hover">

    <tbody>
    <tr>
            <td>
                <input type="checkbox" (change)="setCountry($event)" value="ALBANIA">  ALBANIA
            </td>
            <td>
                <input type="checkbox" (change)="setCountry($event)" value="ANDORRA">  ANDORRA
            </td>
            <td>
                <input type="checkbox" (change)="setCountry($event)" value="AUSTRIA">  AUSTRIA
            </td>
            <td>
                <input type="checkbox" (change)="setCountry($event)" value="BELARUS">  BELARUS
            </td>
            <td>
                <input type="checkbox" (change)="setCountry($event)" value="BELGIUM">  BELGIUM
            </td>
    </tr>
    <tr>
            <td>
                <input type="checkbox" (change)="setCountry($event)" value="BOSNIA AND HERZEGOVINA">  BOSNIA AND HERZEGOVINA
            </td>
            <td>
                <input type="checkbox" (change)="setCountry($event)" value="BULGARIA">  BULGARIA
            </td>
            <td>
                <input type="checkbox" (change)="setCountry($event)" value="CROATIA">  CROATIA
            </td>
            <td>
                <input type="checkbox" (change)="setCountry($event)" value="CYPRUS">  CYPRUS
            </td>
            <td>
                <input type="checkbox" (change)="setCountry($event)" value="CZECH REPUBLIC">  CZECH REPUBLIC
            </td>

    </tr>



    <tr>
            <td>
                <input type="checkbox" (change)="setCountry($event)" value="DENMARK">  DENMARK
            </td>

            <td>
                <input type="checkbox" (change)="setCountry($event)" value="ESTONIA">  ESTONIA
            </td>

            <td>
                <input type="checkbox" (change)="setCountry($event)" value="FAROE ISLANDS">  FAROE ISLANDS
            </td>

            <td>
                <input type="checkbox" (change)="setCountry($event)" value="FINLAND">  FINLAND
            </td>

            <td>
                <input type="checkbox" (change)="setCountry($event)" value="FRANCE">  FRANCE
            </td>

    </tr>



    <tr>
            <td>
                <input type="checkbox" (change)="setCountry($event)" value="GERMANY">  GERMANY
            </td>

            <td>
                <input type="checkbox" (change)="setCountry($event)" value="GIBRALTAR">  GIBRALTAR
            </td>

            <td>
                <input type="checkbox" (change)="setCountry($event)" value="GREECE">  GREECE
            </td>

            <td>
                <input type="checkbox" (change)="setCountry($event)" value="HOLY SEE (VATICAN CITY STATE) ">  HOLY SEE (VATICAN CITY STATE) 
            </td>

            <td>
                <input type="checkbox" (change)="setCountry($event)" value="HUNGARY">  HUNGARY
            </td>
    </tr>



    <tr>

            <td>
                <input type="checkbox" (change)="setCountry($event)" value="ICELAND">  ICELAND
            </td>

            <td>
                <input type="checkbox" (change)="setCountry($event)" value="IRELAND">  IRELAND
            </td>

            <td>
                <input type="checkbox" (change)="setCountry($event)" value="ITALY">  ITALY
            </td>

            <td>
                <input type="checkbox" (change)="setCountry($event)" value="LATVIA">  LATVIA
            </td>

            <td>
                <input type="checkbox" (change)="setCountry($event)" value="LITHUANIA">  LITHUANIA
            </td>
    </tr>



    <tr>

            <td>
                <input type="checkbox" (change)="setCountry($event)" value="LUXEMBOURG">  LUXEMBOURG
            </td>

            <td>
                <input type="checkbox" (change)="setCountry($event)" value="MACEDONIA, THE FORMER YUGOSLAV REPUBLIC OF">  MACEDONIA, THE FORMER YUGOSLAV REPUBLIC OF
            </td>

            <td>
                <input type="checkbox" (change)="setCountry($event)" value="MALTA">  MALTA
            </td>

            <td>
                <input type="checkbox" (change)="setCountry($event)" value="MONACO">  MONACO
            </td>

            <td>
                <input type="checkbox" (change)="setCountry($event)" value="NETHERLANDS">  NETHERLANDS
            </td>
    </tr>



    <tr>
            <td>
                <input type="checkbox" (change)="setCountry($event)" value="NORWAY">  NORWAY
            </td>

            <td>
                <input type="checkbox" (change)="setCountry($event)" value="POLAND">  POLAND
            </td>

            <td>
                <input type="checkbox" (change)="setCountry($event)" value="PORTUGAL">  PORTUGAL
            </td>

            <td>
                <input type="checkbox" (change)="setCountry($event)" value="ROMANIA">  ROMANIA
            </td>

            <td>
                <input type="checkbox" (change)="setCountry($event)" value="SAN MARINO">  SAN MARINO
            </td>
    </tr>



    <tr>
            <td>
                <input type="checkbox" (change)="setCountry($event)" value="SLOVAKIA">  SLOVAKIA
            </td>

            <td>
                <input type="checkbox" (change)="setCountry($event)" value="SLOVENIA">  SLOVENIA
            </td>

            <td>
                <input type="checkbox" (change)="setCountry($event)" value="SPAIN">  SPAIN
            </td>

            <td>
                <input type="checkbox" (change)="setCountry($event)" value="SWEDEN">  SWEDEN
            </td>

            <td>
                <input type="checkbox" (change)="setCountry($event)" value="SWITZERLAND">  SWITZERLAND
            </td>

    </tr>

    <tr>
            <td>
                <input type="checkbox" (change)="setCountry($event)" value="UNITED KINGDOM">  UNITED KINGDOM
            </td>
    </tr>

</tbody></table>

</div>

<div class="table-scrollable">
<h3>North America</h3>
<table class="table table-bordered table-hover">




    <tbody><tr>

            <td>
                <input type="checkbox" (change)="setCountry($event)" value="ANGUILLA">  ANGUILLA
            </td>

            <td>
                <input type="checkbox" (change)="setCountry($event)" value="ANTIGUA AND BARBUDA">  ANTIGUA AND BARBUDA
            </td>

            <td>
                <input type="checkbox" (change)="setCountry($event)" value="ARUBA">  ARUBA
            </td>

            <td>
                <input type="checkbox" (change)="setCountry($event)" value="BAHAMAS">  BAHAMAS
            </td>

            <td>
                <input type="checkbox" (change)="setCountry($event)" value="BARBADOS">  BARBADOS
            </td>
    </tr>



    <tr>
            <td>
                <input type="checkbox" (change)="setCountry($event)" value="BELIZE">  BELIZE
            </td>

            <td>
                <input type="checkbox" (change)="setCountry($event)" value="CANADA">  CANADA
            </td>

            <td>
                <input type="checkbox" (change)="setCountry($event)" value="CAYMAN ISLANDS">  CAYMAN ISLANDS
            </td>

            <td>
                <input type="checkbox" (change)="setCountry($event)" value="COSTA RICA">  COSTA RICA
            </td>

            <td>
                <input type="checkbox" (change)="setCountry($event)" value="CUBA">  CUBA
            </td>  
    </tr>


    <tr>
            <td>
                <input type="checkbox" (change)="setCountry($event)" value="DOMINICA">  DOMINICA
            </td>

            <td>
                <input type="checkbox" (change)="setCountry($event)" value="DOMINICAN REPUBLIC">  DOMINICAN REPUBLIC
            </td>

            <td>
                <input type="checkbox" (change)="setCountry($event)" value="EL SALVADOR">  EL SALVADOR
            </td>

            <td>
                <input type="checkbox" (change)="setCountry($event)" value="GRENADA">  GRENADA
            </td>

            <td>
                <input type="checkbox" (change)="setCountry($event)" value="GUADELOUPE">  GUADELOUPE
            </td>
    </tr>



    <tr>
            <td>
                <input type="checkbox" (change)="setCountry($event)" value="GUATEMALA">  GUATEMALA
            </td>

            <td>
                <input type="checkbox" (change)="setCountry($event)" value="HAITI">  HAITI
            </td>

            <td>
                <input type="checkbox" (change)="setCountry($event)" value="HONDURAS">  HONDURAS
            </td>

            <td>
                <input type="checkbox" (change)="setCountry($event)" value="JAMAICA">  JAMAICA
            </td>

            <td>
                <input type="checkbox" (change)="setCountry($event)" value="MARTINIQUE">  MARTINIQUE
            </td>
    </tr>


    <tr>

            <td>
                <input type="checkbox" (change)="setCountry($event)" value="MEXICO">  MEXICO
            </td>

            <td>
                <input type="checkbox" (change)="setCountry($event)" value="MONTSERRAT">  MONTSERRAT
            </td>

            <td>
                <input type="checkbox" (change)="setCountry($event)" value="NICARAGUA">  NICARAGUA
            </td>

            <td>
                <input type="checkbox" (change)="setCountry($event)" value="PANAMA">  PANAMA
            </td>

            <td>
                <input type="checkbox" (change)="setCountry($event)" value="PUERTO RICO">  PUERTO RICO
            </td>
    </tr>



    <tr>

        

            <td>
                <input type="checkbox" (change)="setCountry($event)" value="SINT MARTIN (DUTCH)">  SINT MARTIN (DUTCH)
            </td>

        
            <td>
                <input type="checkbox" (change)="setCountry($event)" value="TRINIDAD AND TOBAGO">  TRINIDAD AND TOBAGO
            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="UNITED STATES">  UNITED STATES

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="VIRGIN ISLANDS, BRITISH">  VIRGIN ISLANDS, BRITISH

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="VIRGIN ISLANDS, U.S.">  VIRGIN ISLANDS, U.S.

            </td>

        

    </tr>



</tbody></table>

</div>

<div class="table-scrollable">
<h3>South America</h3>
<table class="table table-bordered table-hover">




    <tbody><tr>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="ARGENTINA">  ARGENTINA

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="BOLIVIA">  BOLIVIA

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="BRAZIL">  BRAZIL

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="CHILE">  CHILE

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="COLOMBIA">  COLOMBIA

            </td>

        

    </tr>



    <tr>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="ECUADOR">  ECUADOR

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="FALKLAND ISLANDS (MALVINAS)">  FALKLAND ISLANDS (MALVINAS)

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="FRENCH GUIANA">  FRENCH GUIANA

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="GUYANA">  GUYANA

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="PARAGUAY">  PARAGUAY

            </td>

        

    </tr>



    <tr>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="PERU">  PERU

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="SURINAME">  SURINAME

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="URUGUAY">  URUGUAY

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="VENEZUELA">  VENEZUELA

            </td>

        

    </tr>



</tbody></table>

</div>

<div class="table-scrollable">
<h3>Asia</h3>
<table class="table table-bordered table-hover">




    <tbody><tr>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="AFGHANISTAN">  AFGHANISTAN

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="ARMENIA">  ARMENIA

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="AZERBAIJAN">  AZERBAIJAN

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="BANGLADESH">  BANGLADESH

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="BHUTAN">  BHUTAN

            </td>

        

    </tr>



    <tr>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="BRUNEI DARUSSALAM">  BRUNEI DARUSSALAM

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="CAMBODIA">  CAMBODIA

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="CHINA">  CHINA

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="GEORGIA">  GEORGIA

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="HONG KONG">  HONG KONG

            </td>

        

    </tr>



    <tr>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="INDIA">  INDIA

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="INDONESIA">  INDONESIA

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="JAPAN">  JAPAN

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="KAZAKHSTAN">  KAZAKHSTAN

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="KOREA, REPUBLIC OF">  KOREA, REPUBLIC OF

            </td>

        

    </tr>



    <tr>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="KYRGYZSTAN">  KYRGYZSTAN

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="LAO PEOPLES DEMOCRATIC REPUBLIC">  LAO PEOPLES DEMOCRATIC REPUBLIC

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="MACAO">  MACAO

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="MALAYSIA">  MALAYSIA

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="MALDIVES">  MALDIVES

            </td>

        

    </tr>



    <tr>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="MONGOLIA">  MONGOLIA

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="MYANMAR">  MYANMAR

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="NEPAL">  NEPAL

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="PAKISTAN">  PAKISTAN

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="PAPUA NEW GUINEA">  PAPUA NEW GUINEA

            </td>

        

    </tr>



    <tr>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="PHILIPPINES">  PHILIPPINES

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="RUSSIAN FEDERATION">  RUSSIAN FEDERATION

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="SINGAPORE">  SINGAPORE

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="SRI LANKA">  SRI LANKA

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="TAIWAN, PROVINCE OF CHINA">  TAIWAN, PROVINCE OF CHINA

            </td>

        

    </tr>



    <tr>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="TAJIKISTAN">  TAJIKISTAN

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="THAILAND">  THAILAND

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="TURKEY">  TURKEY

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="TURKMENISTAN">  TURKMENISTAN

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="UKRAINE">  UKRAINE

            </td>

        

    </tr>



    <tr>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="UZBEKISTAN">  UZBEKISTAN

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="VIET NAM">  VIET NAM

            </td>

        

    </tr>



</tbody></table>

</div>

<div class="table-scrollable">
<h3>Middle East</h3>
<table class="table table-bordered table-hover">




    <tbody><tr>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="BAHRAIN">  BAHRAIN

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="IRAN, ISLAMIC REPUBLIC OF">  IRAN, ISLAMIC REPUBLIC OF

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="IRAQ">  IRAQ

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="ISRAEL">  ISRAEL

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="JORDAN">  JORDAN

            </td>

        

    </tr>



    <tr>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="KUWAIT">  KUWAIT

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="LEBANON">  LEBANON

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="OMAN">  OMAN

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="QATAR">  QATAR

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="SAUDI ARABIA">  SAUDI ARABIA

            </td>

        

    </tr>



    <tr>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="SYRIAN ARAB REPUBLIC">  SYRIAN ARAB REPUBLIC

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="UNITED ARAB EMIRATES">  UNITED ARAB EMIRATES

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="YEMEN">  YEMEN

            </td>

        

    </tr>



</tbody></table>

</div>



<div class="table-scrollable">
<h3>Oceania</h3>
<table class="table table-bordered table-hover">




    <tbody><tr>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="AUSTRALIA">  AUSTRALIA

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="COOK ISLANDS">  COOK ISLANDS

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="FIJI">  FIJI

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="KIRIBATI">  KIRIBATI

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="MARSHALL ISLANDS">  MARSHALL ISLANDS

            </td>

        

    </tr>



    <tr>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="MICRONESIA, FEDERATED STATES OF">  MICRONESIA, FEDERATED STATES OF

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="NEW ZEALAND">  NEW ZEALAND

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="NIUE">  NIUE

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="PALAU">  PALAU

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="SAMOA">  SAMOA

            </td>

        

    </tr>



    <tr>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="SOLOMON ISLANDS">  SOLOMON ISLANDS

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="TONGA">  TONGA

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="TUVALU">  TUVALU

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="VANUATU">  VANUATU

            </td>

        

    </tr>



</tbody></table>

</div>

<div class="table-scrollable">
<h3>Africa</h3>
<table class="table table-bordered table-hover">




    <tbody><tr>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="AUSTRALIA">  AUSTRALIA

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="COOK ISLANDS">  COOK ISLANDS

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="FIJI">  FIJI

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="KIRIBATI">  KIRIBATI

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="MARSHALL ISLANDS">  MARSHALL ISLANDS

            </td>

        

    </tr>



    <tr>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="MICRONESIA, FEDERATED STATES OF">  MICRONESIA, FEDERATED STATES OF

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="NEW ZEALAND">  NEW ZEALAND

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="NIUE">  NIUE

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="PALAU">  PALAU

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="SAMOA">  SAMOA

            </td>

        

    </tr>



    <tr>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="SOLOMON ISLANDS">  SOLOMON ISLANDS

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="TONGA">  TONGA

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="TUVALU">  TUVALU

            </td>

        

            <td>

                <input type="checkbox" (change)="setCountry($event)" value="VANUATU">  VANUATU

            </td>

        

    </tr>



</tbody></table>

</div>

<div class="table-scrollable">


<table class="table table-bordered table-hover">




<tbody><tr>

    

        <td>

            <input type="checkbox" (change)="setCountry($event)" value="AMERICAN SAMOA">  AMERICAN SAMOA

        </td>

    

        <td>

            <input type="checkbox" (change)="setCountry($event)" value="ANTARCTICA">  ANTARCTICA

        </td>

    

        <td>

            <input type="checkbox" (change)="setCountry($event)" value="BERMUDA">  BERMUDA

        </td>

    

        <td>

            <input type="checkbox" (change)="setCountry($event)" value="BOUVET ISLAND">  BOUVET ISLAND

        </td>

    

        <td>

            <input type="checkbox" (change)="setCountry($event)" value="BRITISH INDIAN OCEAN TERRITORY">  BRITISH INDIAN OCEAN TERRITORY

        </td>

    

</tr>



<tr>

    

        <td>

            <input type="checkbox" (change)="setCountry($event)" value="CARIBBEAN NETHERLAND">  CARIBBEAN NETHERLAND

        </td>

    

        <td>

            <input type="checkbox" (change)="setCountry($event)" value="CHANNEL ISLANDS">  CHANNEL ISLANDS

        </td>

    

        <td>

            <input type="checkbox" (change)="setCountry($event)" value="CHRISTMAS ISLAND">  CHRISTMAS ISLAND

        </td>

    

        <td>

            <input type="checkbox" (change)="setCountry($event)" value="COCOS (KEELING) ISLANDS">  COCOS (KEELING) ISLANDS

        </td>

    

        <td>

            <input type="checkbox" (change)="setCountry($event)" value="CONGO, THE DEMOCRATIC REPUBLIC OF THE">  CONGO, THE DEMOCRATIC REPUBLIC OF THE

        </td>

    

</tr>



<tr>

    

        <td>

            <input type="checkbox" (change)="setCountry($event)" value="CURACAO">  CURACAO

        </td>

    

        <td>

            <input type="checkbox" (change)="setCountry($event)" value="FRENCH POLYNESIA">  FRENCH POLYNESIA

        </td>

    

        <td>

            <input type="checkbox" (change)="setCountry($event)" value="FRENCH SOUTHERN TERRITORIES">  FRENCH SOUTHERN TERRITORIES

        </td>

    

        <td>

            <input type="checkbox" (change)="setCountry($event)" value="GREENLAND">  GREENLAND

        </td>

    

        <td>

            <input type="checkbox" (change)="setCountry($event)" value="GUAM">  GUAM

        </td>

    

</tr>



<tr>

    

        <td>

            <input type="checkbox" (change)="setCountry($event)" value="GUERNSEY">  GUERNSEY

        </td>

    

        <td>

            <input type="checkbox" (change)="setCountry($event)" value="HEARD ISLAND AND MCDONALD ISLANDS">  HEARD ISLAND AND MCDONALD ISLANDS

        </td>

    

        <td>

            <input type="checkbox" (change)="setCountry($event)" value="ISLE OF MAN">  ISLE OF MAN

        </td>

    

        <td>

            <input type="checkbox" (change)="setCountry($event)" value="JAMAICA">  JAMAICA

        </td>

    

        <td>

            <input type="checkbox" (change)="setCountry($event)" value="JERSEY">  JERSEY

        </td>

    

</tr>



<tr>

    

        <td>

            <input type="checkbox" (change)="setCountry($event)" value="KOREA, DEMOCRATIC PEOPLE S REPUBLIC OF">  KOREA, DEMOCRATIC PEOPLE S REPUBLIC OF

        </td>

    

        <td>

            <input type="checkbox" (change)="setCountry($event)" value="LIECHTENSTEIN">  LIECHTENSTEIN

        </td>

    

        <td>

            <input type="checkbox" (change)="setCountry($event)" value="MAYOTTE">  MAYOTTE

        </td>

    

        <td>

            <input type="checkbox" (change)="setCountry($event)" value="MOLDOVA, REPUBLIC OF">  MOLDOVA, REPUBLIC OF

        </td>

    

        <td>

            <input type="checkbox" (change)="setCountry($event)" value="MONTENEGRO">  MONTENEGRO

        </td>

    

</tr>



<tr>

    

        <td>

            <input type="checkbox" (change)="setCountry($event)" value="NAURU">  NAURU

        </td>

    

        <td>

            <input type="checkbox" (change)="setCountry($event)" value="NETHERLANDS ANTILLES">  NETHERLANDS ANTILLES

        </td>

    

        <td>

            <input type="checkbox" (change)="setCountry($event)" value="NEW CALEDONIA">  NEW CALEDONIA

        </td>

    

        <td>

            <input type="checkbox" (change)="setCountry($event)" value="NORFOLK ISLAND">  NORFOLK ISLAND

        </td>

    

        <td>

            <input type="checkbox" (change)="setCountry($event)" value="NORTHERN MARIANA ISLANDS">  NORTHERN MARIANA ISLANDS

        </td>

    

</tr>



<tr>

    

        <td>

            <input type="checkbox" (change)="setCountry($event)" value="PALESTINIAN TERRITORY, OCCUPIED">  PALESTINIAN TERRITORY, OCCUPIED

        </td>

    

        <td>

            <input type="checkbox" (change)="setCountry($event)" value="PITCAIRN">  PITCAIRN

        </td>

    

        <td>

            <input type="checkbox" (change)="setCountry($event)" value="RÉUNION">  RÉUNION

        </td>

    

        <td>

            <input type="checkbox" (change)="setCountry($event)" value="SAINT BARTHÉLEMY">  SAINT BARTHÉLEMY

        </td>

    

        <td>

            <input type="checkbox" (change)="setCountry($event)" value="SAINT HELENA">  SAINT HELENA

        </td>

    

</tr>



<tr>

    

        <td>

            <input type="checkbox" (change)="setCountry($event)" value="SAINT KITTS AND NEVIS">  SAINT KITTS AND NEVIS

        </td>

    

        <td>

            <input type="checkbox" (change)="setCountry($event)" value="SAINT LUCIA">  SAINT LUCIA

        </td>

    

        <td>

            <input type="checkbox" (change)="setCountry($event)" value="SAINT MARTIN">  SAINT MARTIN

        </td>

    

        <td>

            <input type="checkbox" (change)="setCountry($event)" value="SAINT PIERRE AND MIQUELON">  SAINT PIERRE AND MIQUELON

        </td>

    

        <td>

            <input type="checkbox" (change)="setCountry($event)" value="SAINT VINCENT AND THE GRENADINES">  SAINT VINCENT AND THE GRENADINES

        </td>

    

</tr>



<tr>

    

        <td>

            <input type="checkbox" (change)="setCountry($event)" value="SERBIA">  SERBIA

        </td>

    

        <td>

            <input type="checkbox" (change)="setCountry($event)" value="SOUTH GEORGIA AND THE SOUTH SANDWICH ISLANDS">  SOUTH GEORGIA AND THE SOUTH SANDWICH ISLANDS

        </td>

    

        <td>

            <input type="checkbox" (change)="setCountry($event)" value="SVALBARD AND JAN MAYEN">  SVALBARD AND JAN MAYEN

        </td>

    

        <td>

            <input type="checkbox" (change)="setCountry($event)" value="TIMOR-LESTE">  TIMOR-LESTE

        </td>

    

        <td>

            <input type="checkbox" (change)="setCountry($event)" value="TOKELAU">  TOKELAU

        </td>

    

</tr>



<tr>

    

        <td>

            <input type="checkbox" (change)="setCountry($event)" value="TURKS AND CAICOS ISLANDS">  TURKS AND CAICOS ISLANDS

        </td>

    

        <td>

            <input type="checkbox" (change)="setCountry($event)" value="UNITED STATES MINOR OUTLYING ISLANDS">  UNITED STATES MINOR OUTLYING ISLANDS

        </td>

    

        <td>

            <input type="checkbox" (change)="setCountry($event)" value="WALLIS AND FUTUNA">  WALLIS AND FUTUNA

        </td>

    

        <td>

            <input type="checkbox" (change)="setCountry($event)" value="YUGOSLAVIA">  YUGOSLAVIA

        </td>

    

        <td>

            <input type="checkbox" (change)="setCountry($event)" value="ZAIRE">  ZAIRE

        </td>

    

</tr>





</tbody></table>


</div>

</div>

  
  <mat-dialog-actions>
  
    <span class="flex-1"></span>
    
    
    <!-- <button mat-dialog-close mat-raised-button type="button" color="secondary">
      <mat-icon [icIcon]="icCancel" [inline]="true" size="16px"></mat-icon> Close
    </button>-->

    <button (click)="save()" mat-dialog-close  color="primary" mat-flat-button type="button">
        <ic-icon [icIcon]="icSend" [inline]="true" size="11px"></ic-icon>  Save
    </button>

    <button mat-dialog-close mat-raised-button type="button" color="secondary">
        <mat-icon [icIcon]="icCancel" [inline]="true" size="11px"></mat-icon> Close
    </button>
  
    
  </mat-dialog-actions>
  