<div class="flex items-center" mat-dialog-title>
    <h2 style="font-size: 18px;" class="flex-auto text-lg font-medium font-12">
        {{ result }}
    </h2>
    <button mat-dialog-close mat-icon-button type="button">
        <mat-icon [icIcon]="icClose" size="24px"></mat-icon>
    </button>
</div>
<mat-divider></mat-divider>
  <!-- <mat-dialog-content>
    <div>
       <h1 style="font-size: 14px;">{{ result }}</h1>
    </div>
  </mat-dialog-content> -->
  
  <mat-dialog-actions>
  
    <span class="flex-1"></span>
    
    
    <!-- <button mat-dialog-close mat-raised-button type="button" color="secondary">
      <mat-icon [icIcon]="icCancel" [inline]="true" size="16px"></mat-icon> Close
    </button>-->

    <!-- <a target="_blank" color="primary" mat-flat-button type="button">
        <ic-icon [icIcon]="icSend" [inline]="true" size="16px"></ic-icon>  Generate eBay Token
    </a> -->
  
    
  </mat-dialog-actions>
  