<div class="p-gutter" vexContainer>
    <div class="card">
        <div class="border-b py-4 px-6" fxLayout="row" fxLayoutAlign="start center">
          <h2 class="m-0 title" fxFlex="auto">What's New</h2>
        </div>
      
        <div class="py-5 px-5" fxLayout="row" fxLayout.lt-md="column">
            <h4>What's New <mat-icon [icIcon]="icbullhorn" class="font-10"></mat-icon></h4>
            <p>This page contains key information on new features and improvements of Sellershub.io for the year 2021.</p>
           
            <div class="line">&nbsp;</div>

            <h4><span class="update">UPDATE</span> Royal Mail Click and Drop</h4>
            <p>In Royal Mail Click and Drop Updated with the all new services See more here. - August 17, 2021</p>
            
            <div class="line">&nbsp;</div>

            <h4><span class="new">NEW</span> Gift messages</h4>
            <p>Checkout Message/ Gift messages in sales order page See more here.</p>
        </div>
    </div>
</div>